.Sort-List {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  /* border: 2px solid black;  */
  justify-content: flex-end;
  margin-right: 100px;
  /* padding: 5px; */
}
.Sort-List span {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.sortcloth {
  padding: 0px 5px 0px 50px;
  width: 45px;
  height: 45px;
}
#cart {
  height: 50px;
  width: 50px;
  transition: all 0.3s ease-in-out;
}
#cart:hover {
  transform: translateY(-5px);

}
