* {
  margin: 0px;
  padding: 0px;
}
:root {
  /* Primary Color: Blue */
  --primary-color: #007bff;

  /* Secondary Color: Light Grey */
  --secondary-color: #f8f9fa;

  /* Accent Color: Red */
  --accent-color: #ff6b6b;

  /* Complementary Color: Green */
  --complementary-color: #28a745;

  /* Neutral Color: White */
  --neutral-color: #ffffff;

  /* Optional Accent Color: Yellow */
  --optional-accent-color: #ffc107;
}
body {
  background-color: var(--secondary-color);
  /* color: var(--neutral-color); */
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: var(--accent-color);
  /* font-weight: bolder;
   */
  transform: scale(1.3);
}
.NavBar header {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


